* {
    margin: 0;
    left: 0;
    top: 0;
}

:root {
    --background: rgb(223, 182, 207);
}

header {
    background-color: var(--background);
}

div {
    background: var(--background);
    border-radius: 2rem;
    margin: 2rem;
    padding: 1rem;

}

.column {
    display: flex;
    justify-content: space-evenly;
}